# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:5001/api

# Better Auth Configuration
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000

# Google OAuth (Optional)
NEXT_PUBLIC_GOOGLE_CLIENT_ID=505767346349-uvatcn048qcfu50sae6sr8udrl84qpp8.apps.googleusercontent.com
